<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Detalhes do usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span> <span class="mat-h3">Mariana Lourenço</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Email: </span> <span class="mat-h3">slb.marianavitoria&#64;gmail.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Telefone: </span> <span class="mat-h3">+55 (71) 9 81379138</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Endereço: </span> <span class="mat-h3">Rua Aleatoria, 12, Lauro de Freitas - BA</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Ativo: </span> <span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Função: </span> <span class="mat-h3">Desenvolvedora</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data de Cadastro: </span> <span class="mat-h3">13/11/2025</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>