<div class="filter">
    <form class="form">
        <div class="form__name">
            <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
            </mat-form-field>
        </div>
        <div class="form__date-picker">
            <mat-form-field>
                <mat-label>Data de Cadastro</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="form__status">
            <mat-form-field>
                <mat-label>Favorite food</mat-label>
                <mat-select>
                    @for (food of foods; track food) {
                    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form__button">
            <button mat-raised-button>Basic</button>
        </div>
    </form>
</div>